# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
  
jobs:
  test:
    docker:
      - image: circleci/elixir:1.9.4
    steps:
      - run: echo "this is the build job"
      - run: echo "server throughput"
      - run: dd if=/dev/zero of=/tmp/test1.img bs=1G count=1 oflag=dsync
      - run: echo "server latency"
      - run: dd if=/dev/zero of=/tmp/test2.img bs=512 count=1000 oflag=dsync
      - run: echo "cpu"
      - run: cat /proc/cpuinfo | grep MHz

  
# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - test
